# Basics of Python
### Various Data Types
### Variable
### Variables Assignment
### Print Formatting

- Data Types

In [2]:
type (1)

int

In [4]:
type (2.3)

float

In [3]:
type ("Hello")

str

In [5]:
type (True)

bool

- Strings

In [ ]:
# What is a str?
# Represents text (enclosed in " " or ' ').
# Can contain letters, numbers, symbols, and spaces.

In [ ]:
## Examples of Str
# name = "Alice"          
# greeting = 'Hello, World!'  
# address = "123 Main St"  # Numbers inside quotes = string

In [1]:
Name = 'Mokshith' # Single quote

In [2]:
print(Name)

Mokshith

In [3]:
Greeting="Welcome to the World" # Double quote

In [4]:
print(Greeting)

Welcome to the World

In [5]:
Message = ''' Welcome 
To The 
World!''' # Multi-line quote

In [6]:
print(Message)

 Welcome
To The
World!

In [7]:
# Basic String Creation
Name = 'Mokshith' # Single quote
Greeting="Welcome to the World" # Double quote
Message = ''' Welcome 
To The 
World!''' # Multi-line quote

In [8]:
print(Name)
print(Greeting)
print(Message)

Mokshith
Welcome to the World
 Welcome
To The
World!

## Variable Assignment

In [ ]:
# Variable : A variable is like a box where you store data (numbers, text, etc.) and give it a name.
# Syntax
# Var_name = Values
# Rules for Naming Variables
  # 1.Start with a letter (a-z, A-Z) or _
  #✅ name, _age, User1
  # ❌ 1user, @email

  # 2. Can contain letters, numbers, or _
  #✅ user_name, score2
  #❌ user-name, first name

  #3. Cannot use Python keywords (like if, for, class)
  #❌ for = 5 (Error!) 

  #4. Case-sensitive (different from Age, age, AGE) 

  #5. Use meaningful names
  #✅ student_age (Good)
  #❌ x (Bad) 

  #6. Follow naming styles
  #snake_case (Python style): user_name
  #camelCase: userName
  #PascalCase (for classes): UserName

In [9]:
Employee_Name = "Phanindra"

In [10]:
print(Employee_Name)

Phanindra

In [11]:
type(Employee_Name)

str

In [14]:
Age = 33

In [15]:
print(Age)

33

In [16]:
type(Age)

int

In [18]:
Height = 183.5

In [19]:
print(Height)

183.5

In [20]:
type(Height)

float

In [4]:
#INT
#What?- Whole numbers without decimal points.
#Why?-For counting, indexing, and mathematical operations.
#Where?-Anywhere you need whole numbers (ages, counts, etc.).
#When?-When decimal precision isn't needed.

#How
#Examples of Int:
# age = 25           # Positive integer
# temperature = -10   # Negative integer
# count = 0           # Zero

In [21]:
# Mathematical Opertions with Variable Assignment
a = 10
b = 3

In [22]:
print (a+b) # Addition        --> 13
print (a-b) # SUbtraction     --> 7
print (a*b) # Multiplication  -->30
print (a/b) # Division        -->3.333333333 (return FLoat)
print (a//b)# Floor Division  -->3           (drops decimal)
print (a%b) # Modulus         -->1           
print (a**b)# Exponentiation  -->1000         (10^3)  
print((a*b)/(a+b))##BODMAS (Brackets,Order,Division,Multiplication,Subtraction)

13
7
30
3.3333333333333335
3
1
1000
2.3076923076923075

## Various Types of Printing

In [27]:
print('''Hello''')

Hello

In [29]:
First_Name = 'Phanindra'
Last_Name  = 'Kumar'

In [30]:
# Based in the .format order it will print accordingly
print("My First Name is {} and Last Name is {}".format(First_Name,Last_Name))

My First Name is Phanindra and Last Name is Kumar

In [31]:
## Based in the .format order it will print accordingly
print("My First Name is {} and Last Name is {}".format(Last_Name,First_Name))

My First Name is Kumar and Last Name is Phanindra

In [32]:
# Based in the .format order it will print accordingly
print("My First Name is {First} and Last Name is {Last}".format(First=First_Name,Last=Last_Name))

My First Name is Phanindra and Last Name is Kumar

In [34]:
# Eventhough we chnage the order in .format it should print asusual. because we gave First and Last in FLower Brackets
print("My First Name is {First} and Last Name is {Last}".format(Last=Last_Name,First=First_Name))

My First Name is Phanindra and Last Name is Kumar

In [33]:
# Eventhough we chnage the order in .format it should print asusual. because we gave First and Last in FLower Brackets
print("My First Name is {Last} and Last Name is {First}".format(First=First_Name,Last=Last_Name))

My First Name is Kumar and Last Name is Phanindra