# What are Sets in Python?
### Sets are an unordered, mutable collection of unique elements in Python. They are similar to mathematical sets and have the following key characteristics:
- Unordered: Elements have no defined order
- Mutable: You can add/remove elements
- Unique: No duplicate elements allowed
- Can contain only hashable (immutable) types

# Why We Use Sets in Python
### Sets are particularly useful for:
- Removing duplicates from a sequence
- Membership testing (very fast - O(1) complexity)
- Mathematical operations like unions, intersections, differences
- Efficient lookups when order doesn't matter
- Filtering unique elements from data

# Where We Use Sets in Python
### Common use cases include:
- Data cleaning (removing duplicates)
- Finding unique items in large datasets
- Comparing groups of items
- Graph algorithms (tracking visited nodes)
- Database operations (when working with unique IDs)
- Natural language processing (unique word collections)

# When We Use Sets in Python
### You should consider using sets when:
- You need to eliminate duplicate values
- You need fast membership testing
- The order of elements doesn't matter
- You need to perform set operations (union, intersection, etc.)



- Memory efficiency is important (sets are more memory efficient than lists for unique items)

In [15]:
# Create an empty set
set_var = ()

In [39]:
# It will Remove duplicates from a sequence
set_var= {1, 2, 3, 4,3}

In [37]:
print(set_var) # It will Remove duplicates from a sequence

{1, 2, 3, 4}

In [21]:
print(type(set_var))

<class 'set'>

In [40]:
set_var1 = {'Baahubali2', 'Pushpa', 'Baahubali'}

In [41]:
print(set_var1)

{'Baahubali2', 'Pushpa', 'Baahubali'}

In [42]:
# In-built function
set_var1.add('Pushpa')

In [43]:
print(set_var1)

{'Baahubali2', 'Pushpa2', 'Pushpa', 'Baahubali'}

In [ ]:
# Summary Table of Set Methods
		
## Method	                              Description	                Example
add(x)	                            Adds a single element x         	s.add(5)
update(iterable)	                 Adds multiple elements	            s.update([4, 5])
remove(x)	                     Removes x (raises error if missing)	s.remove(3)
discard(x)	                     Removes x (no error if missing)	    s.discard(3)
pop()	                         Removes & returns a random element 	x = s.pop()
clear()	                              Removes all elements          	s.clear()
union(s2) (  )	                       Combines two sets	            s1.union(s2)
intersection(s2)(&)                Returns common elements          	s1 & s2
difference(s2) (-)	               Returns elements in s1 but not s2	s1 - s2
symmetric_difference(s2) (^)     Elements in either set but not both	s1 ^ s2
issubset(s2) (<=)	                  Checks if s1 is a subset of s2	s1 <= s2
issuperset(s2) (>=)             	Checks if s1 is a superset of s2	s1 >= s2
isdisjoint(s2)	              Checks if sets have no common elements	s1.isdisjoint(s2)
copy()	                              Creates a shallow copy	        s2 = s1.copy()

### Adding Elements

In [45]:
# add() : Adds a single element to the set.
fruits = {"apple", "banana"}
fruits.add("Orange")

In [46]:
print(fruits)

{'Orange', 'apple', 'banana'}

In [47]:
# update() : Adds multiple elements (from a list, tuple, or another set).
fruits.update(["mango", "grapes"])

In [48]:
print(fruits)

{'mango', 'banana', 'Orange', 'apple', 'grapes'}

### Removing Elements

In [50]:
# remove() : Removes an element (raises KeyError if not found).
numbers = {1, 2, 3}
numbers.remove(2) # Removes 2

In [51]:
print(numbers)

{1, 3}

In [52]:
numbers.remove(5) # (raises KeyError if not found)

KeyError: 5

In [ ]:
# discard() : Removes an element (does not raise an error if missing).

In [54]:
numbers = {1, 2, 3}
numbers.discard(2) # Removes 2

In [55]:
print(numbers)

{1, 3}

In [56]:
numbers.discard(5) # Does nothing

In [57]:
# pop() : Removes and returns a random element (since sets are unordered).
letters = {"a", "b", "c"}

In [58]:
print(letters)

{'a', 'b', 'c'}

In [59]:
removed = letters.pop()

In [60]:
print(removed) # Could be 'a', 'b', or 'c'

a

In [61]:
print(letters) # Remaining elements

{'b', 'c'}

In [62]:
# clear(): Removes all elements from the set.
numbers = {1, 2, 3}

In [63]:
print(numbers)

{1, 2, 3}

In [64]:
numbers.clear()# Removes all elements from the set.

In [65]:
print(numbers)

set()

### Set Operators

In [66]:
# union() (|): Combines two sets (returns a new set). 
# print(A.union(B)) = print(A | B) 
A = {1, 2}
B = {2, 3}

In [67]:
print(A.union(B))

{1, 2, 3}

In [68]:
print(A | B)

{1, 2, 3}

In [69]:
# intersection() (&) : Returns common elements.
# print(A.intersection(B)) = print(A & B) 
A = {1, 2, 3}
B = {2, 3, 4}

In [70]:
print(A.intersection(B))

{2, 3}

In [71]:
print(A & B)

{2, 3}

In [74]:
# difference() (-) : Returns elements in A but not in B.
# print(A.difference(B)) = print(A - B)  , print(B.difference(A)) = print(B - A) 
A = {1, 2, 3}
B = {2, 3, 4}

In [72]:
print(A.difference(B))

{1}

In [73]:
print(A - B)

{1}

In [75]:
print(B.difference(A))

{4}

In [76]:
print(B - A)

{4}

In [77]:
# symmetric_difference() (^) : Returns elements in either set but not both.
# print(A.symmetric_difference(B)) = print(A ^ B)  
A = {1, 2, 3}
B = {3, 4, 5}

In [78]:
print(A.symmetric_difference(B))

{1, 2, 4, 5}

In [79]:
print(A ^ B)

{1, 2, 4, 5}

### Comparison Methods

In [80]:
# issubset() (<=) : Checks if all elements of A are in B.
# print(A.issubset(B)) = print(A <= B)  
A = {1, 2}
B = {1, 2, 3}

In [83]:
print(A.issubset(B))

True

In [84]:
print(A <= B)

True

In [ ]:
# issuperset() (>=) : Checks if A contains all elements of B.
# print(A.issuperset(B)) = print(A >= B)
A = {1, 2, 3}
B = {1, 2}

In [85]:
print(A.issuperset(B))

False

In [86]:
print(A >= B)

False

In [89]:
# isdisjoint() : Checks if two sets have no common elements.
A = {1,2,3}
B = {2,3, 4}

In [88]:
print(A.isdisjoint(B))

True

In [90]:
print(A.isdisjoint(B))

False

### Copying a Set

In [91]:
# copy() : Creates a shallow copy of the set.
original = {1, 2, 3}

In [92]:
print(original)

{1, 2, 3}

In [93]:
duplicate = original.copy()

In [94]:
print(duplicate)

{1, 2, 3}

In [95]:
duplicate.add(4)

In [98]:
print(original)
print(duplicate)

{1, 2, 3}
{1, 2, 3, 4}

### Other Useful functions

In [99]:
# len() : Returns the number of elements.
numbers = {10, 20, 30}

In [100]:
print(len(numbers))

3

In [101]:
# in Operator : Checks if an element exists (faster than lists).
fruits = {"apple", "banana"}

In [102]:
print("apple" in fruits)

True

### Real-Time Important Set Topics for Python Developers
- Sets are widely used in real-world Python applications for their efficiency in handling unique elements and performing fast lookups.
- Below are the most important set operations that Python developers frequently use, along with practical examples.

## 1. Removing Duplicates (Most Common Use Case)

### Problem: Eliminate duplicate entries from a list.
### Solution: Convert to a set and back to a list.

In [103]:
data = [10, 20, 30, 20, 10, 40, 50]

In [104]:
print(data)

[10, 20, 30, 20, 10, 40, 50]

In [105]:
unique_data = list(set(data))

TypeError: 'set' object is not callable

## 2. Finding Common Elements (Intersection)
### Problem: Find shared items between two lists.
### Solution: Use & or intersection().

In [106]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

In [107]:
common = set(list1) & set(list2)

TypeError: 'set' object is not callable

## 3. Finding Differences (Set Subtraction)
### Problem: Get elements in one list but not in another.
### Solution: Use - or difference().

In [108]:
employees = {"Alice", "Bob", "Charlie"}
attended = {"Bob", "David"}

In [109]:
absent = employees - attended

In [110]:
print(absent)

{'Alice', 'Charlie'}

## 4. Merging Sets (Union)
### Problem: Combine two sets without duplicates.
### Solution: Use | or union().

In [111]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [112]:
merged = set1 | set2

In [113]:
print(merged)

{1, 2, 3, 4, 5}

## 5. Checking Subsets (issubset)
### Problem: Verify if all elements of one set exist in another.
### Solution: Use issubset() or <=.

In [114]:
required_skills = {"Python", "SQL", "Git"}
candidate_skills = {"Python", "SQL"}

In [115]:
if candidate_skills.issubset(required_skills):
    print("Candidate meets requirements!")
else:
    print("Rejected!")

Candidate meets requirements!

## 6. Checking Disjoint Sets (No Common Elements)
### Problem: Check if two sets have no overlap.
### Solution: Use isdisjoint().

In [116]:
valid_users = {"user1", "user2", "user3"}
blocked_users = {"spammer1", "spammer2"}

In [117]:
if valid_users.isdisjoint(blocked_users):
    print("No blocked users in valid list!")
else:
    print("Security alert!")

No blocked users in valid list!

## 7. Finding Unique Elements (Symmetric Difference)
### Problem: Get elements present in only one of the two sets.
### Solution: Use ^ or symmetric_difference().

In [118]:
morning_shift = {"Alice", "Bob", "Charlie"}
evening_shift = {"Bob", "David", "Eve"}

In [119]:
unique_workers = morning_shift ^ evening_shift

In [120]:
print(unique_workers)

{'Alice', 'David', 'Eve', 'Charlie'}

## 8. Fast Membership Testing (in Operator)
### Problem: Check if an element exists in a large dataset efficiently.
### Solution: Sets provide O(1) lookup time (faster than lists).

In [ ]:
usernames = {"alice123", "bob456", "charlie789"}
username = input("Enter username: ")

# Getting error need to check

## 9. Updating a Set with Another Set
### Problem: Add multiple elements from another set.
### Solution: Use update().

In [ ]:
available_items = {"apple", "banana", "orange"}
new_items = {"grape", "kiwi", "apple"}